<h2>Find a subreddit's newest images</h2>
<form>
    <input type="search" class='js-search-input'>
    <button name="submit" class='js-submit-search'></button>
</form>
<div class="js-image-grid">Something</div>
